#container {
    width: 1050px;
    border: 1px solid grey;
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 10px 0px;
}

#brand {
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 500;
    color: #861BBF;
    text-decoration: none;
}
#searchBox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    height: 50px;
    width: 400px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36ABC;
    background: white url(images/search.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
}

.clear {
    clear: both;
}