#container {
    width: 1050px;
    border: 0px solid grey;
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 10px 0px;
}

#brand {
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 500;
    color: #861BBF;
    text-decoration: none;
}
#searchBox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    height: 50px;
    width: 400px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36ABC;
    background: white url(images/search.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    padding: 7px 0px;
}

ul{
    list-style: none;
    margin-left: 30px;
}

#menu ul li{
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #5D12E7;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #d512e7;
    line-height: 30px;
    -webkits-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: 18px;
    font-weight: bold;
    color: #C34FDB;
}

#introduction {
    background: linear-gradient(#e5f2bb, #b7e952);
    padding: 30px;
    margin: 16px 0px;
}

#introduction h3{
    font-size: 40px;
    color: #316909;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: #629a59;
    text-align: justify;
}

.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid #baf46f;
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3{
    color: #b314db;
    font-size: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #C34FDB;
    -webkits-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#leftsidebar ul{
    padding-top: 8px;
}

#leftsidebar ul li{
    padding-bottom: 6px;
    list-style-image: url(images/arrow.png);
    padding-left: 10px;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #b314db;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}